body {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  font-size: 100%;
/*  
  background-color: rgb(230, 230, 230);
*/
  background-image: url("./backgrounds/wall1.jpg");
  z-index: -3;
}
#RoyalHeader {
  margin-bottom: 20px;
}
h1#CoName {
  text-align: center;
  padding-top: 10px;
}
.brow#LeftButton {
  position: fixed;
  top: 20px;
  left: 50px;
}
.brow#RightButton {
  position: fixed;
  top: 25px;
  right: 50px;
}
div#searchBanner {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
  align-items:center;
  background-image: url("./banners/BannerBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
}
nav {
  text-transform: uppercase;
}
.visualClear {
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.LeftPanelCLASS a:hover {
  color: #ffaa00;
}
.LeftBoxlet {
  background-color: #666;
}

.RightPanelCLASS {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s;
}
.RightPanelCLASS a:hover {
  color: #ffaa00;
}
.RightBoxlet {
  background-color: #666;
}


/*
iOS Styles only
iOS Styles only
*/
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
img#HeadPic {
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.ArticleCLASS {
  /*  padding: 5%; */
    width: 90%;
    height: 100%;
/*    position: absolute; */
    top: 20%;
    background-color: rgb(255, 255, 255);
    padding: 5% 5% 10% 5%;
  }
.ArticleCLASS figure img {
width: 90%;
}
.ArticleCLASS h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  font-size: 300%;
}
.ArticleCLASS p, .ArticleCLASS ul, .ArticleCLASS ol, .ArticleCLASS dl {
  font-size: 300%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}
/* HEADER AND BROW --- HEADER AND BROW --- HEADER AND BROW --- HEADER AND BROW */
.brow svg {
    width: 80px;
    height: 80px;
}

/* LEFT SIDE PANEL --- LEFT SIDE PANEL --- LEFT SIDE PANEL --- LEFT SIDE PANEL */
.LeftPanelCLASS {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}
.LeftPanelCLASS a {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.LeftPanelCLASS .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 96px;
  margin-left: 50px;
}
.LeftPanelCLASS h1 {
  padding: 8px 8px 0px 32px;
  text-decoration: none;
  font-size: 80px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.LeftBoxlet a {
  padding: 0px 8px 8px 48px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
/* RIGHT SIDE PANEL --- RIGHT SIDE PANEL --- RIGHT SIDE PANEL --- RIGHT SIDE PANEL */
.RightPanelCLASS a {
  padding: 8px 8px 8px 48px;
  text-decoration: none;
  font-size: 50px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.RightPanelCLASS .closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 96px;
  margin-right: 50px;
}
.RightPanelCLASS h1 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.RightBoxlet a {
  padding: 0px 8px 8px 96px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.RightPanelCLASS p {
  padding: 8px 8px 8px 48px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
}

/*
all other devices styles
all other devices styles
*/

@supports not (-webkit-overflow-scrolling: touch) {
  /* CSS for other than iOS devices */ 

img#HeadPic {
  display: block;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.ArticleCLASS {
  /*  padding: 5%; */
    width: 900px;
    height: 100%;
/*  position: absolute; 
    margin-top: 250px; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 5% 5% 10% 5%;
  }
.ArticleCLASS figure img {
width: 65%;
margin-left: auto;
margin-right: auto;
}
.ArticleCLASS h1 {
  text-align: center;
/*  max-width: 65%; */
  margin-left: auto;
  margin-right: auto;
}
.ArticleCLASS p, .ArticleCLASS ul, .ArticleCLASS ol, .ArticleCLASS dl {
  font-size: 100%;
/*  max-width: 75%;*/
  margin-left: auto;
  margin-right: auto;
}
/* HEADER AND BROW --- HEADER AND BROW --- HEADER AND BROW --- HEADER AND BROW */
.brow svg {
    width: 40px;
    height: 40px;
}
/* LEFT SIDE PANEL --- LEFT SIDE PANEL --- LEFT SIDE PANEL --- LEFT SIDE PANEL */
.LeftPanelCLASS {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}
.LeftPanelCLASS a {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.LeftPanelCLASS .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 48px;
  margin-left: 50px;
}
.LeftPanelCLASS h1 {
  padding: 8px 8px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.LeftBoxlet a {
  padding: 0px 8px 8px 48px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
/* RIGHT SIDE PANEL --- RIGHT SIDE PANEL --- RIGHT SIDE PANEL --- RIGHT SIDE PANEL */
.RightPanelCLASS a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.RightPanelCLASS .closebtn {
  position: absolute;
  top: -10px;
  left: 0px;
  font-size: 48px;
  margin-right: 50px;
}
.RightPanelCLASS h1 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.RightBoxlet a {
  padding: 0px 8px 8px 64px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.RightPanelCLASS p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
}