/*
The purpose of this secondary style sheet is to control Plone elements brought in by the CMS
*/

/*
search box in header
*/

div#search {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.LSBox {
  display: flex;
  width: 80%;
  justify-content:center;
  align-items:center;
}

input#searchGadget {
  width: 80%;
}

div form#searchGadget_form {
  display: flex;
  justify-content: center;
}


/*end of code for search box and search banner*/

.portletHeader {
  font-size: 80px;
  font-weight: bold;
  padding-left: 0px;
  }
/*
.navTree { }
*/
.navTreeLevel0 {
  padding-left: 20px;
  }
  .navTreeLevel1 {
  padding-left: 20px;
  }
  .navTreeLevel2 {
  padding-left: 20px;
  }
  #foldernav ul, #foldernav li {
    list-style-type:none;
}
#foldernav li {
  border-top: 1px solid #fdfdfd;
}
  /* RELATED BOX */
  #RightPanelID .relatedItems {
  padding-left: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
#RightPanelID .relatedItems li {
  padding-left: 60px;
  font-size: 40px;
  color: #f1f1f1;
}
div#related div#relatedItemBox header {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}
  /* END OF RELATED BOX */

    /* BREADCRUMBS */

    div#breadCrumbs {
      font-weight: bold;
      font-size: 2em;
    }
    div#breadCrumbs div.container ol {
      list-style: none;
    }
    div#breadCrumbs div.container ol li {
      display: inline;
    }
    div#breadCrumbs div.container ol li+li:before {
      content: "/\00a0";
      padding: 8px;
    }
    div#breadCrumbs ol a {
    text-decoration: none;
    }
    div#breadCrumbs ol a:hover {
    color: #ffaa00;
    }

    /* END OF BREADCRUMBS */

  /* BEING ARTICLE STYLING */

article#CenterPanelID.ArticleCLASS {
  max-width: 900px !important;
  margin: auto !important;
}
#CenterPanelID, #viewlet-above-content-title, #viewlet-below-content-title, #viewlet-above-content-body, #content-core, #viewlet-below-content-body, .documentDescription, .description, .documentFirstHeading
{
  max-width: 900px !important;
  margin: auto !important;
}
#CenterPanelID p, #CenterPanelID li, #CenterPanelID h1, #CenterPanelID h2, #CenterPanelID h3, #CenterPanelID h4, #CenterPanelID h5, #CenterPanelID h6, #CenterPanelID div {
    margin-bottom: .5em;
}

#CenterPanelID p.discreet.croppedDescription {
    font-size: 1em;
}
#CenterPanelID p img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
#CenterPanelID h1.documentFirstHeading {
  padding: .5em 2em 2em 2em;
  font-weight: bold;
  font-size: 3em;
}

  /* end of center panel article styling 
  end of non-device specific styling
  */


/*
iOS Styles only 
iOS Styles only
*/

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */ 

.navTreeCurrentNode>a:after {
  content: "⟩";
  color:  #ffaa00;
}

  /* RELATED BOX */
}

/*
all other devices styles
all other devices styles
*/

@supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */ 

.navTreeCurrentNode>a:after {
  content: "⟩";
  color:  #ffaa00;
  font-size: 200%;
}

        /* PLONE TOOL BAR

        .plone-toolbar-submenu-header, #folderDefaultPageDisplay {
            color: #e829fa;
            padding-left: 40px;
        }

        #plonebar #edit-zone li a {
            color: #29b8fa;
            padding-left: 80px;
        }
        */     


}